.main-image{
  background-image: url("../assets/imgs/38876843180_93def7de72_c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  filter: blur(2px);
}

.mainContent{
  position: absolute;
  top: 30%;
  left: 12.5%;
  text-align: center;
  width: 50%;
}

.mainForm{
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  border: 5px solid rgb(255, 255, 255);
  width: 50%;
  padding: 40px 0;
}

.custom-select {
  width: 70%;
  display: inline-block;
}

.mainText{
  color: white;
  top: 70%;
  left: 40%;
  text-align: center;
  text-shadow: 3px 0 3px black,
              2px 0 3px black;
  padding: 10% 0;
}

.book{
  font-size: 50px;
}

.main-h1{
  font-weight: bold;
  font-size: 70px;
  width: 500px;
}

.main-p{
  font-weight: bold;
  font-size: 25px;
}




.train-details{
    border: 3px solid black;
    padding: 20px 0;
    margin-bottom: 20px;
}

.list-inline-item{
    margin-left: 50px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .table td{
    border: none;
  }
	/* Force table to not be like tables anymore */
	.train-table, .thead, .tbody, .th, .td, .tr { 
    display: inline-block; 
    border: none;
  }

  .thead .tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  .th{
    position: absolute;
		top: -9999px;
		left: -9999px;
  }
  .tr {
    margin: 10px 10px;
    border: 1px solid rgb(0, 0, 0); 
  }
  .td { 
		/* Behave  like a "row" */
    text-align: left;
    width: 50%;    
    position: relative;
  }
  
  .td p{
    width: 100%;
  }

  .td:nth-of-type(1):before { content: "PNR : "; }
	.td:nth-of-type(2):before { content: "Train Name : "; }
	.td:nth-of-type(3):before { content: "Depature : "; }
	.td:nth-of-type(4):before { content: "Destination : "; }
	.td:nth-of-type(5):before { content: "Depature Date : "; }
	.td:nth-of-type(6):before { content: "Depature Time : "; }
	.td:nth-of-type(7):before { content: "Arrival Date : "; }
	.td:nth-of-type(8):before { content: "Arrival Time : "; }
	.td:nth-of-type(9):before { content: "Cost : "; }
  .td:nth-of-type(10):before { content: "Seats Available : "; }
  
  .btn{
    width: 60%;
  }
}